*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.header{
    height: 130px;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
.logo{
    
    width: 100px;
    border-radius: 20px;

}
.logo img{
    border-radius: 50px;
}


.lists li{
    margin-left: 35px;
    display: inline-block;
    font-size: 20px;
    font-family: "pt-sans", sans-serif;
}
.lists li a:hover{
    color: white;
    padding: 3px;
    background-color: #895e3b;
}
.lists li a{

    color: #a47148;
    text-decoration: none;
}
.icons i{
    font-size: 28px;
    padding: 15px;
}
.drop{
    position: relative;
}
.dropdown{
    position: absolute;
    width: 450px;
    background-color: white;
    border: 2px solid #a47148;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    padding: 15px;
     margin-top: 5px;
    display:grid ;
    grid-template-columns: repeat(3 , 3fr);
    z-index: 2;
    
}
.drop:hover .dropdown{
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
.top-t{
    border-bottom: 1px dotted #a47148;
    margin-bottom: 10px;
}
/* /////////////////////////////////////////////////////////////////// */
 .main{
    width: 80%;
    height: 535px;
    background-image: url(../images/egy.jpg);
    background-size: cover;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
   position: absolute;
   z-index: 1;
   
} 
.main-content{
    padding: 60px;
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.b-main{
    margin-top: 40px;
    padding: 5px 20px;
    color:#a47148 ;
    background-color: white;
    border: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.b-main:hover{
  transform: scale(1.1);
  color: #363636;
  border: 2px solid #363636;
}
/* ///////////////////////////////////////////////////////// */
.category{
    padding-top: 40px;
    padding-bottom:10px ;
   
}
.h-category{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.underline{
    
    height: 2px;
    width: 100px;
    background-color: #895e3b;
    margin: auto ;
    transition: 0.5s;
    margin-top: 10px;
}
.cat-head:hover .underline{
    transform: scalex(1.4);
}
.cat-container{
   
   
    margin-top: 30px;
    display: grid;
    display: flex;
    justify-content: center;
    grid-template-columns:repeat(4 , 4fr);
    column-gap: 10px;
}
.cat-content{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.p1{
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-transform: capitalize;

}
.p2{
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cat-icon i{
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 4px 7px;
    background-color: brown;
}
.cat-icon{
    visibility: hidden;
    opacity: 0;
}
.cat-item:hover .cat-icon{
    visibility: visible;
    opacity: 1;
}
/* /////////////////////////////////////////////////////// */
.discount{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4 ,4fr);
    column-gap: 20px;
     margin: auto; 
    
    
}
.dis{
   padding: 20px;
    height: 290px;
  
    background-color: #f7f3ef;

}
.about-dis{
    grid-column-start: 1;
    grid-column-end: 3;
}
.disim1{
    background-image: url(../images/sea.jpg);
    background-size: cover;
}
.disim2{
    background-image: url(../images/dahab.jpg);
    background-size: cover;
}
.head-art-icon {
    display: inline-block;
    color:#895e3b ;
    font-size: 50px;
}
.head-art-content{
    display: inline-block;
}
.p1-art{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2-art{
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.art{
    font-size: 17px;
    letter-spacing: 0.1px;
    line-height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.foot-art{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: flex-end;
}
.under{
    margin: 5px;
    height: 2px;
    width: 60px;
    background-color: #895e3b;
}
.p1-dis{
    color: #363636;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p2-dis{
    font-size: 22px;
    color: rgb(0, 29, 161);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.disim2:hover,.disim1:hover{
transform: scale(1.1);
}
/* //////////////////////////////////////////////////////////////////// */ 
.services{
    padding: 40px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5 , 5fr);
    margin: auto;
    text-align: center;
    border-bottom: 1px solid gray;
    column-gap: 5px; 
    font-family: "pt-sans", sans-serif;
}
.servic-diff{
    border-right: 1px solid gray;
}
.p1-servic{
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.p2-servic{
color: gray;
font-size: 15px;
}
.servic-item{
    padding: 0 20px;
}
.servic-img1{
    height: 50px;
    background-image: url(../images/service-icon.png);
    background-repeat: no-repeat;
    background-position: center 0px;
    transition: 0.5s;
}
.servic-img2{
    height: 50px;
    background-image: url(../images/service-icon.png);
    background-repeat: no-repeat;
    background-position: center -185px;
    transition: 0.5s;
}
.servic-img3{
    height: 50px;
    background-image: url(../images/service-icon.png);
    background-repeat: no-repeat;
    background-position: center -370px;
    transition: 0.5s;
}
.servic-img4{
    height: 50px;
    background-image: url(../images/service-icon.png);
    background-repeat: no-repeat;
    background-position: center -555px;
    transition: 0.5s;
}
.servic-img5{
    height: 50px;
    background-image: url(../images/service-icon.png);
    background-repeat: no-repeat;
    background-position: center -740px;
    transition: 0.5s;
}
.servic-img1:hover{
    background-position: center -92px;
}
.servic-img2:hover{
    background-position: center -277px;
}
.servic-img3:hover{
    background-position: center -462px;
}
.servic-img4:hover{
    background-position: center -647px;
}
.servic-img5:hover{
    background-position: center -832px;
}
/* ////////////////////////////////////////////////////////////////////// */
.feature-head{
    text-align: center;
    
}
.h2-feature{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.feature-head:hover .underline{
    transform: scalex(1.5);
}
.feature{
    padding: 80px;
    perspective: 700px;

}
.feature-head ul li{
    list-style-type:none;
    display: inline-block;
    padding: 30px 20px;
    font-family: "pt-sans", sans-serif;
    font-size: 16px;
}
.feature-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3 ,3fr);
    column-gap:10px ;
    row-gap: 10px;
    margin: auto;
    line-height: 22px;
    font-family: "pt-sans", sans-serif;
}
.p2-feature{
    font-size: 17px;
    font-weight: bold;
}
.feature-icon .fas{
    color: rgb(255, 255, 17);
}

.feature-animy{
    transform-style: preserve-3d;
    width:380px;
     height: 450px;
    position: relative;
    transition: 0.5s;
}
.front{
    background-image: url(../images/montazah.jpg);
    background-size: cover;
    background-position: -30px;
    width: 100%;
    height: 100%;
    z-index: 1;
    backface-visibility: hidden;
    position: absolute;
    transition: 0.5s;

}
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    font-size: 22px;
    background-color: bisque;
    text-align: center;
    transform: rotateY(180deg);
    line-height: 40px;
    font-family: "pt-sans", sans-serif;
}
.feature-animy:hover {
transform: rotatey(180deg);
/* z-index: -1; */
}
.p1-back{
    padding: 50px;
    font-family: "pt-sans", sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: rgb(93, 93, 93);
    

}
.feature-item2 .front{
    background-image: url(../images/sphinx.jpg);
    background-size: cover;
    background-position: -120px;
}
.feature-item3 .front{
    background-image: url(../images/my.jpg);
    background-size: cover;
    background-position: -70px;
}
.icon-back i{
    margin: 20px 2px;
color: white;
font-size: 32px;
width: 50px;
height: 50px;
background-color: #a47148;
padding: 10px;
}